
@{
    ViewBag.Title = "Work2";
}
@using AuthenticationSessionMVC.Security
<h2>Work2</h2>

<body>
    welcome @SessionPersistor.UserName
    </br>
    <a href="@Url.Action("Logout","AccountTest")">Logout</a>
</body>